/* typography */

@font-face{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 100 900;
    src:url('/fonts/Fraunces[SOFT,WONK,opsz,wght].ttf')format('truetype');
    font-variation-settings: "opsz" 900,"SOFT" 100, "WONK" 0;
    font-weight: 450;
}

@font-face {
    font-family: 'Fraunces';
    font-style: italic;
    font-weight: 100 900;
    src:url('/fonts/Fraunces-Italic[SOFT,WONK,opsz,wght].ttf') format('truetype');
    font-variation-settings: "opsz" 20, "SOFT" 200, "WONK" 1;
    font-weight:200;
}

$font: "Fraunces", serif;

// body font styling vars
$body-font-size: 120%;
$body-font-weight: 350;
$body-italic-weight: 100;

// display font styling vars
$display-font: $font;
$display-weight: 900;
$display-spacing: 0.15em;
$display-title-size: 4rem;
